//-----------------------------------------------------------------
// Space Out Resources
// RC Source - SpaceOut.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_LOGO          ICON         "Logo.ico"
IDI_LOGO_SM       ICON         "Logo_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_PLAYER               	BITMAP       	"Player.bmp"
IDB_GAMEOVER		BITMAP		"GameOver.bmp"
IDB_GAMEWON		BITMAP		"GameWon.bmp"
IDB_WALL		BITMAP		"Wall.bmp"
IDB_STAIR		BITMAP		"Stair.bmp"
IDB_HEART		BITMAP		"Heart.bmp"
IDB_HEARTEMPTY		BITMAP		"HeartEmpty.bmp"
IDB_KEY			BITMAP		"Key.bmp"
IDB_KEYHORIZONTAL	BITMAP		"KeyHorizontal.bmp"
IDB_DOOR 		BITMAP		"Door.bmp"
IDB_MAGE 		BITMAP		"Mage.bmp"
IDB_GOLLUM 		BITMAP		"Gollum.bmp"
IDB_BAT 			BITMAP		"Bat.bmp"
IDB_GHOST 		BITMAP		"Ghost.bmp"
IDB_BOMBER 		BITMAP		"Bomber.bmp"
IDB_HUNTER 		BITMAP		"Hunter.bmp"
IDB_MAGEMISSILE 		BITMAP		"MageMissile.bmp"
IDB_BATMISSILE 		BITMAP		"BatMissile.bmp"
IDB_BOMBERBOMB 	BITMAP		"BomberBomb.bmp"
IDB_SHIELD		BITMAP		"Shield.bmp"
IDB_MISSILE		BITMAP		"MageMissile.bmp"
IDB_FIREBALLICON	BITMAP		"FireballIcon.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------
IDW_GAMEOVER          WAVE         "game_over.wav"
IDW_SHIELDBLOCK          WAVE         "shieldBlock.wav"
IDW_VICTORY          WAVE         "victory.wav"
IDW_DAMAGED          WAVE         "damaged.wav"
IDW_DOOROPEN          WAVE         "doorOpened.wav"
IDW_JUMP          WAVE         "jumpHuman.wav"
IDW_HEAL         WAVE         "GettingHeart.wav"
IDW_KEY         WAVE         "GettingKey.wav"