//-----------------------------------------------------------------
// Space Out Resources
// RC Source - SpaceOut.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_LOGO          ICON         "Sprites/Logo.ico"
IDI_LOGO_SM       ICON         "Sprites/Logo_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_PLAYER               	BITMAP       	"Sprites/Player.bmp"
IDB_GAMEOVER		BITMAP		"Sprites/GameOver.bmp"
IDB_GAMEWON		BITMAP		"Sprites/GameWon.bmp"
IDB_WALL		BITMAP		"Sprites/Wall.bmp"
IDB_STAIR		BITMAP		"Sprites/Stair.bmp"
IDB_HEART		BITMAP		"Sprites/Heart.bmp"
IDB_HEARTEMPTY		BITMAP		"Sprites/HeartEmpty.bmp"
IDB_KEY			BITMAP		"Sprites/Key.bmp"
IDB_KEYHORIZONTAL	BITMAP		"Sprites/KeyHorizontal.bmp"
IDB_DOOR 		BITMAP		"Sprites/Door.bmp"
IDB_MAGE 		BITMAP		"Sprites/Mage.bmp"
IDB_GOLLUM 		BITMAP		"Sprites/Gollum.bmp"
IDB_BAT 			BITMAP		"Sprites/Bat.bmp"
IDB_GHOST 		BITMAP		"Sprites/Ghost.bmp"
IDB_BOMBER 		BITMAP		"Sprites/Bomber.bmp"
IDB_HUNTER 		BITMAP		"Sprites/Hunter.bmp"
IDB_MAGEMISSILE 		BITMAP		"Sprites/MageMissile.bmp"
IDB_BATMISSILE 		BITMAP		"Sprites/BatMissile.bmp"
IDB_BOMBERBOMB 	BITMAP		"Sprites/BomberBomb.bmp"
IDB_SHIELD		BITMAP		"Sprites/Shield.bmp"
IDB_MISSILE		BITMAP		"Sprites/MageMissile.bmp"
IDB_FIREBALLICON	BITMAP		"Sprites/FireballIcon.bmp"
IDB_GAMETITLE	BITMAP		"Sprites/GameTitle.bmp"
IDB_PLAYBUTTON	BITMAP		"Sprites/PlayButton.bmp"
IDB_HOWTOPLAYBUTTON	BITMAP		"Sprites/HowToPlayButton.bmp"
IDB_EXITBUTTON	BITMAP		"Sprites/ExitButton.bmp"
IDB_BACKBUTTON	BITMAP		"Sprites/BackButton.bmp"
IDB_HOWTOPLAY	BITMAP		"Sprites/Howtoplay.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------
IDW_GAMEOVER          WAVE         "Sounds/game_over.wav"
IDW_SHIELDBLOCK          WAVE         "Sounds/shieldBlock.wav"
IDW_VICTORY          WAVE         "Sounds/victory.wav"
IDW_DAMAGED          WAVE         "Sounds/damaged.wav"
IDW_DOOROPEN          WAVE         "Sounds/doorOpened.wav"
IDW_JUMP          WAVE         "Sounds/jumpHuman.wav"
IDW_HEAL         WAVE         "Sounds/GettingHeart.wav"
IDW_KEY         WAVE         "Sounds/GettingKey.wav"